::ng-deep .dialog {
  width: 60rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.task-title {
  border: none;
  border-bottom: 1px solid var(--dialog-background-color);
  padding: 1rem 0;
  border-radius: 0.3rem;
  transition: var(--transition);
  transition-property: color, border-color, border-style;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--task-title-color);
  margin-left: 1.5rem;
  width: 100%;

  &:hover,
  &:focus {
    border-bottom: 1px dashed var(--input-dashed-border-color);
  }
}

.new-progress-detail-box {
  display: flex;
  align-items: flex-start;
}

.new-progress-detail-add-button {
  flex: 5rem 0 0;
  margin-left: 1rem;
  padding: 0;

  & .iconify {
    color: white;
  }
}

.buttons {
  margin: 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & button {
    margin-left: 1rem;
  }
}
