<p-dialog modal="true" styleClass="dialog" header="Edit" [(visible)]="visible">
  <div class="header">
    <app-task-status class="task-status" [(done)]="task.done"></app-task-status>
    <input class="task-title" type="text" [(ngModel)]="task.title" />
  </div>
  <textarea class="new-progress-detail-textarea" placeholder="describe your progress" #newProgressDetail></textarea>
  <button (click)="addProgression(newProgressDetail.value)">add</button>
  {{ task.progressDetails.length }}
  <ul>
    <li *ngFor="let progress of task.progressDetails">
      {{ progress.detail }}
    </li>
  </ul>
  <button (click)="cancel()">cancel</button>
  <button (click)="save()">save</button>
</p-dialog>
