<p-dialog modal="true" styleClass="dialog" header="Edit" [(visible)]="visible">
  <div class="header">
    <app-task-status class="task-status" [(done)]="task.done"></app-task-status>
    <input class="task-title" type="text" [(ngModel)]="task.title" />
  </div>
  <div class="new-progress-detail-box">
    <textarea class="new-progress-detail-textarea" placeholder="describe your progress" #newProgressDetail></textarea>
    <button class="new-progress-detail-add-button" (click)="addProgression(newProgressDetail.value)">
      <span class="iconify" data-icon="carbon:add" data-inline="false"></span>
    </button>
  </div>
  <app-task-progress [task-progress-list]="task.progressList"></app-task-progress>
  <div class="buttons">
    <button class="outline" (click)="cancel()">cancel</button>
    <button (click)="save()">save</button>
  </div>
</p-dialog>
