.container {
  position: fixed;
  z-index: 999;
  top: 1.2rem;
  right: 1.2rem;
  display: flex;
  align-items: center;
}

.additional-info {
  font-size: 1.35rem;
  display: none;
  background-color: white;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  border-radius: 100rem;
  margin-right: 0.5rem;
}

.container:hover .additional-info {
  display: block;
}

@media screen and (max-width: 720px) {
  .container {
    display: none;
  }
}
