<p-toast></p-toast>
<div class="container">
  <section class="header">
    <span (click)="incrementDate(-1)">
      <span class="iconify increment-date-button" data-icon="eva:arrow-ios-back-fill" data-inline="false"></span>
    </span>
    <span class="date">{{ date | date: 'MMMM d, yyyy' }}</span>
    <span (click)="incrementDate()">
      <span class="iconify increment-date-button" data-icon="eva:arrow-ios-forward-fill" data-inline="false"></span>
    </span>
  </section>
  <section class="add-task-form">
    <form (ngSubmit)="addTask()" #form="ngForm">
      <input name="taskToAdd" [(ngModel)]="taskToAdd" placeholder="Type your task and press enter..." />
    </form>
  </section>
  <section class="task-list">
    <ul>
      <li (click)="toggleTaskStatus()" [ngClass]="{ done: task.done }" class="task" *ngFor="let task of tasks; let index = index">
        <app-task-status class="task-status" [(done)]="task.done"></app-task-status>
        <span class="task-title">{{ task.title }}</span>
        <span class="task-time">{{ task.createdAt | date: 'HH:mm a' }}</span>
        <span class="task-actions">
          <span title="delete" (click)="deleteTask($event, index)">
            <span class="iconify task-action task-delete-action" data-icon="iwwa:delete" data-inline="false"></span>
          </span>
          <span title="edit" (click)="editTask($event, task, index)">
            <span class="iconify task-action" data-icon="eva:edit-2-fill" data-inline="false"></span>
          </span>
        </span>
      </li>
    </ul>
    <p class="design-inspiration">
      Design inspired from <a target="blank" href="https://dribbble.com/shots/2400033-task-List-Day-042-dailui">Ennio Dybeli</a>
    </p>
  </section>
</div>

<app-edit-task-dialog
  (save)="saveEditTask()"
  (cancel)="cancelEditTask()"
  [visible]="displayTaskEditDialog"
  [task]="taskToEdit"
></app-edit-task-dialog>
