.container {
  display: block;
  width: 90%;
  max-width: 55rem;
  margin: 3rem auto;
  box-shadow: 0 1rem 150px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  background-color: var(--app-container-background-color);
  overflow: hidden;
}

.container .header {
  border-bottom: 1px solid var(--border-color);
}

.container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 8rem;
}

.container .header .date {
  font-size: 2.5rem;
  color: var(--header-text-color);
  font-weight: 300;
}

.container .header .increment-date-button {
  font-size: 4rem;
  color: var(--header-button-color);
  cursor: pointer;
  border-radius: 100rem;
  transition: var(--transition);
  transition-property: color, background-color;

  &:hover {
    color: var(--header-button-color-on-hover);
    background-color: var(--header-button-background-color-on-hover);
  }
}

.add-task-form {
  position: relative;
  background-color: var(--add-task-form-background-color);
}

.add-task-form input {
  border: none;
  outline: none;
  padding: 0 2rem 0 7rem;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  color: var(--add-task-form-color);
  height: 7rem;
  line-height: 7rem;
  font-size: 2rem;
}

.add-task-form::before {
  content: '+';
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 3rem;
  height: 3rem;
  color: var(--add-task-form-color);
  font-size: 4rem;
  line-height: 3rem;
  text-align: center;
}

.task-list .task {
  position: relative;
  padding: 2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.task .task-status {
  flex: 5rem 0 0;
}

.task .task-title {
  color: var(--task-title-color);
  flex: 1;
}

.task.done .task-title {
  text-decoration: line-through;
  color: var(--task-done-title-color);
}

.task .task-time {
  color: var(--task-time-color);
}

.task::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: calc(100%);
  bottom: 0;
  background-color: var(--primary-color);
}

.task .task-actions {
  position: absolute;
  right: 2rem;
  visibility: hidden;
  background-color: var(--task-actions-background-color);
}

.task .task-action {
  margin-left: 0.5rem;
  transition: var(--transition);
  transition-property: color, background-color;
}

.task .task-delete-action:hover {
  color: var(--danger-color);
}

.task:hover .task-actions {
  visibility: visible;
}

.task-list li:hover::before {
  right: calc(100% - 0.5rem);
}

.design-inspiration {
  text-align: center;
  padding: 2rem;
  font-size: 1.4rem;
  color: var(--inspiration-text-color);
}

.design-inspiration a {
  color: var(--inspiration-link-color);
}
