<p-toast></p-toast>
<div class="container">
  <section class="header">
    <button (click)="incrementDate(-1)">previous</button>
    <h1>
      <span class="fw-300">{{ date | date: 'd MMMM yyyy' }}</span>
    </h1>
    <button (click)="incrementDate()">next</button>
  </section>
  <section class="add-todo-form">
    <form (ngSubmit)="addTodo()" #form="ngForm">
      <input name="todoToAdd" [(ngModel)]="todoToAdd" placeholder="Type your task and press enter..." />
    </form>
  </section>
  <section class="todo-list">
    <ul>
      <li (click)="toggleTodoStatusChange(todo)" [ngClass]="{ done: todo.done }" class="todo" *ngFor="let todo of todos; let index = index">
        <p-checkbox (onChange)="toggleTodoStatusChange(todo)" class="todo-done" [(ngModel)]="todo.done" [binary]="true"></p-checkbox>
        <span class="todo-title">{{ todo.title }}</span>
        <span class="todo-time">{{ todo.createdAt | date: 'HH:mm a' }}</span>
      </li>
    </ul>
    <p class="design-inspiration">
      Design inspired from <a target="blank" href="https://dribbble.com/shots/2400033-ToDo-List-Day-042-dailui">Ennio Dybeli</a>
    </p>
  </section>
</div>
