:host {
  display: block;
  margin-top: 2rem;
}
.list-container {
  position: relative;
  padding-left: 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.list-container::before {
  content: '';
  position: absolute;
  top: 1rem;
  left: -2px;
  bottom: -2rem;
  width: 2px;
  background-color: var(--timeline-border-color);
}

.list-container:last-child::before {
  bottom: 0;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  position: relative;
  color: var(--text-color);
}

.title::before {
  position: absolute;
  content: '';
  left: -2.8rem;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 100rem;
  background-color: var(--primary-color);
  top: 50%;
  transform: translateY(-50%);
}

.item {
  position: relative;
  font-size: 1.4rem;
  padding: 1rem;
  color: var(--text-color-light);
  white-space: pre-wrap;

  & .time {
    font-weight: bold;
    padding-right: 1rem;
  }

  & .delete-progress {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 99;
    display: none;
  }

  &:hover {
    background-color: var(--task-progress-item-background-color);

    & .delete-progress {
      display: inline;
    }
  }
}
