body .ui-chkbox .ui-chkbox-box.ui-state-active,
body .ui-chkbox .ui-chkbox-box.ui-state-active:not(.ui-state-disabled):hover {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

body .ui-chkbox .ui-chkbox-box:not(.ui-state-disabled):hover {
  border-color: var(--primary-color);
}

body .ui-chkbox .ui-chkbox-box.ui-state-focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem var(--primary-color-box-shadow);
}

body .ui-chkbox,
body .ui-chkbox .ui-chkbox-box {
  width: 2.5rem;
  height: 2.5rem;
}

.pi-check::before {
  // font-size: 2rem;
}
