.ui-toast .ui-toast-icon {
  top: 1.5rem;
  left: 1.5rem;
}

.ui-toast .ui-toast-close-icon {
  top: 1.5rem;
  right: 1.5rem;
}

.ui-toast .ui-toast-message-content {
  padding: 1.5rem;
}

.ui-toast .ui-toast-message-text-content {
  margin-left: 4rem;
}
